.fonte-menor {
    font-size:13px;
}

.div-facilidades {
    width: 304px;
}

.verde-florescente{
    color: #DAFF01;
}

.btn-lilas {
    background: #9353FF;
}

.btn-lilas:hover {
    transition: .3s;
    background: #7322ff;
}